@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #a8ff78;
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:hover:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

.progress-bar {
  width: 100%;
  height: 40px;
  background: linear-gradient(to right,#8bc34a, #ffee05);
  animation: progress 10s linear;
  transform-origin: left;
  /* border-radius: 50px; */
}

@keyframes progress {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}